* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #e0dede;
    font-weight: 500;
    font-size: 18px;
}

input {
    padding: 14px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border-color: #919191;
}

button {
    padding: 12px;
    width: 150px;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.add-customer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: #616161;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.add-customer-container h1 {
    text-align: center;
    color: #e0dede;
    margin-bottom: 50px;
    font-size: 38px;
}

.add-customer-container h2 {
    text-align: center;
    color: #e0dede;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: bolder;
}

.customers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: #616161;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.customers-container h1 {
    text-align: center;
    color: #e0dede;
    margin-bottom: 50px;
    font-size: 38px;
}

.customers-container h2 {
    text-align: center;
    color: #e0dede;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: bolder;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: #616161;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.home-container h1 {
    text-align: center;
    color: #e0dede;
    margin-bottom: 50px;
    font-size: 38px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    background: #616161;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.login-container h1 {
    text-align: center;
    color: #e0dede;
    margin-bottom: 50px;
    font-size: 38px;
}

.login-container h2 {
    text-align: center;
    color: #e0dede;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: bolder;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
